section.thrive-photo-header {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100vw;
  min-height: 50vw;
  margin-bottom: 10vw;

  img {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 50%;
  }

  svg {
    @include fill;
    display: block;
  }

  .container {
    position: relative;
    margin-bottom: -30vw;
  }

  p {
    margin-bottom: 1em;
    font-weight: $font-weight-bold;
    font-size: rem(20px);
  }

  h1 span {
    background-color: $black;
    color: $white;
    display: inline;
    padding: 0.05em 0.2em;
    box-decoration-break: clone;
    line-height: 1.2em;
  }

  @include md {
    margin-bottom: 0;

    .container {
      margin-bottom: 0;
    }

    p {
      font-size: rem(24px);
    }
  }

  @include lg {
    p {
      font-size: rem(32px);
    }
  }
}

section.thrive-header {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100vw;
  min-height: 21.875vw;
  padding: 40px 0;

  svg {
    @include fill;
    display: block;
  }

  .container {
    position: relative;
  }

  h1 {
    margin: 0;
    font-weight: $font-weight-bold;

    span {
      background-color: $black;
      color: $white;
      display: inline;
      padding: 0.05em 0.2em;
      box-decoration-break: clone;
      line-height: 1.2em;
    }
  }

  @include md {
    padding: 60px 0;
    margin-bottom: 0;

    .container {
      margin-bottom: 0;
    }

    p {
      font-size: rem(24px);
    }
  }

  @include lg {
    p {
      font-size: rem(32px);
    }
  }
}

section.thrive-text {
  @include md {
    font-size: rem(20px);
  }

  @include lg {
    font-size: rem(24px);
  }
}

section.thrive-circle-feature {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100vw;
  min-height: 50vw;
  padding-top: 50vw;
  overflow: hidden;

  .background-image {
    position: absolute;
    z-index: -2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vw;
    object-fit: cover;
  }

  .foreground-image {
    position: absolute;
    right: -10%;
    bottom: 0;
    width: 60%;
  }

  .content-wrap {
    position: relative;
    width: 60%;

    &::before {
      content: " ";
      position: absolute;
      z-index: -1;
      left: -40vw;
      top: -15vw;
      width: 120vw;
      height: 120vw;
      background-color: $white;
      border-radius: 1000px;
    }
  }

  ul {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin: 0 2rem 2rem 0;

      span,
      a {
        @extend .lead;
        padding: 0.5rem 0.75rem;
        background-color: $gold;
        font-weight: $font-weight-bold;
        box-decoration-break: clone;
      }
    }
  }

  @include md {
    padding-top: 40vw;

    .background-image {
      height: 75%;
    }

    ul li {
      margin-bottom: 3rem;
    }
  }

  @include lg {
    padding-top: 20vw;

    .background-image {
      height: 100%;
    }

    .foreground-image {
      left: 50%;
      right: auto;
      top: auto;
      bottom: 0;
      width: #{map-get($container-max-widths, "lg") * 0.5};
      transform: translateX(-35%);
    }

    .content-wrap {
      width: 100%;

      &::before {
        left: #{map-get($container-max-widths, "lg") * -0.25};
        top: #{map-get($container-max-widths, "lg") * -0.1};
        width: #{map-get($container-max-widths, "lg") * 0.75};
        height: #{map-get($container-max-widths, "lg") * 0.75};
      }

      p {
        width: 15em;
      }
    }
  }

  @include xl {
    .content-wrap {
      &::before {
        left: #{map-get($container-max-widths, "xl") * -0.25};
        top: #{map-get($container-max-widths, "xl") * -0.1};
        width: #{map-get($container-max-widths, "xl") * 0.75};
        height: #{map-get($container-max-widths, "xl") * 0.75};
      }
    }
  }

  @include xxl {
    .content-wrap {
      &::before {
        left: #{map-get($container-max-widths, "xxl") * -0.2};
        top: #{map-get($container-max-widths, "xxl") * -0.1};
        width: #{map-get($container-max-widths, "xxl") * 0.75};
        height: #{map-get($container-max-widths, "xxl") * 0.75};
      }
    }
  }
}

section.thrive-photo-card-grid {
  position: relative;
  background-color: $lighter-grey;

  h2 {
    max-width: 10em;
    margin-left: auto;
    margin-right: auto;
  }

  a.photo-card {
    position: relative;
    display: block;
    overflow: hidden;

    &::before {
      content: " ";
      position: absolute;
      z-index: 2;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 150px;
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    }

    img {
      position: relative;
      z-index: 1;
      display: block;
      width: 100%;
      transition: transform 0.75s $ease-out;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }

      .photo-card-content {
        background-color: rgba(140, 29, 64, 0.85);
        background-color: transparentize($maroon, 0.15);

        strong .arrow {
          transform: rotate(90deg);
        }

        span {
          height: auto;
          padding: 0 30px 30px;
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }

  .photo-card-content {
    position: absolute;
    z-index: 3;
    left: 0;
    bottom: 0;
    width: 100%;
    transition: background-color 0.25s;

    strong {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      padding: 30px 30px 20px;
      @extend .lead;
      line-height: 1.25;
      font-weight: $font-weight-medium;
      color: $gold;

      .arrow {
        display: block;
        flex-shrink: 0;
        width: 20px;
        height: 20px;
        margin-bottom: 5px;
        transition: transform 0.35s $ease-out;
      }
    }

    span {
      display: block;
      height: 10px;
      font-size: 1rem;
      color: $white;
      opacity: 0;
      transform: translateY(10px);
      transition: opacity 0.5s, transform 0.35s $ease-out;
    }
  }
}

section.thrive-icon-card-grid {
  position: relative;

  .icon-card {
    position: relative;
    display: block;
    padding: 80px 40px;
    text-decoration: none;
    color: $black;

    &:hover {
      z-index: 1;

      .bg {
        transform: scale(1.1);
        box-shadow: 0 0 9px rgba(0, 0, 0, 0.7);
        transition: box-shadow 0.25s, transform 0.5s $ease-out;
      }

      h3,
      p {
        transform: translateY(-20px);
        transition: transform 0.5s $ease-out;
      }

      img {
        transform: scale(1.1) translateY(-10px);
        transition: transform 0.5s $ease-out;
      }
    }

    .bg {
      @include fill;
      z-index: -1;
      background-color: $gold;
      transition: box-shadow 0.5s, transform 0.5s $ease-out;
    }

    h3 {
      width: 100%;
      max-width: 500px;
      padding-right: 60px;
      @extend .lead;
      font-weight: $font-weight-medium;
      transition: transform 0.5s $snappy;
    }

    p {
      width: 100%;
      max-width: 500px;
      margin: 0;
      font-size: 1rem;
      font-weight: $font-weight-light;
      transition: transform 0.5s $snappy;
    }

    img {
      position: absolute;
      right: 40px;
      top: 40px;
      display: block;
      width: 60px;
      height: 60px;
      object-fit: contain;
      transition: transform 0.5s $snappy;
    }
  }

  @include md {
    .icon-card {
      padding: 100px 60px;
    }
  }

  @include lg {
    .icon-card {
      padding: 175px 75px;

      h3,
      p {
        max-width: 580px;
      }

      img {
        right: 40px;
        top: 80px;
        width: 100px;
        height: 100px;
      }
    }
  }
}

section.thrive-recent-news {
  .excerpt {
    position: relative;

    > :last-child {
      margin-bottom: 0;
    }

    a {
      display: block;
    }

    picture {
      margin-bottom: 15px;
    }

    h4 {
      margin-bottom: 10px;

      a {
        font-weight: $font-weight-medium;
        color: $maroon;
        text-decoration: underline;
      }
    }

    p {
      margin-bottom: 10px;
    }
  }

  .archive-link {
    text-decoration: underline;
    font-weight: $font-weight-medium;
    color: $maroon;
  }
}
