header {
  position: relative;
  padding-top: 11.914%;

  img {
    @include fill;
    display: block;
  }

  a {
    position: absolute;
    display: block;
    font-weight: $font-weight-medium;
    font-size: 1.25vw;
    color: #ededed;
  }

  a.home {
    left: 5%;
    top: 5%;
    width: 16%;
    height: 52%;
  }

  a.thrive {
    left: 62%;
    top: 73.75%;
    width: 10%;
    height: 20%;
  }

  a.thrive-subpage {
    left: 73.5%;
    top: 73.75%;
    width: 10%;
    height: 20%;
  }
}
