// Colors
$white:                     #FFFFFF;
$lighter-grey:             #F1F1F1;
$light-grey:                #BCBCBC;
$grey:                      #999999;
$dark-grey:                 #666666;
$darker-grey:               #353535;
$darkest-grey:              #1F1F1F;
$black:                     #000000;

$gold:                      #FFC627;
$maroon:                    #8E183F;
$green:                     #71BE43;
$blue:                      #00A4E0;
$orange:                    #F5823B;
$primary:                   $gold;

// Fonts
$font-family-sans-serif:    'Roboto', sans-serif;
$font-family-base:          $font-family-sans-serif;

$font-weight-light:         300;
$font-weight-normal:        400;
$font-weight-medium:        500;
$font-weight-bold:          700;
$font-weight-black:         900;

$font-size-base:            1rem;
$font-weight-base:          $font-weight-normal;
$line-height-base:          1.5;

$paragraph-margin-bottom:   2rem;
$label-margin-bottom:       0.25rem;
$input-border-color:        $grey;
$input-border-radius:       0;

$headings-margin-bottom:    2rem;
$headings-font-weight:      $font-weight-bold;
$headings-line-height:      1.1;

$h1-font-size:              rem(40px);
$h2-font-size:              rem(25px);

$lead-font-size:            rem(18px);

$btn-padding-y:             0.75rem;
$btn-padding-x:             2rem;
$btn-font-size:             rem(15px);
$btn-font-weight:           $font-weight-medium;

$hr-border-width:           4px;
$hr-border-color:           $gold;
$hr-margin-y:               30px;

$transition-fade:           opacity 0.25s;

// Transitions
$snappy:                    cubic-bezier(0.47, 0.03, 0.29, 1);
$ease-out:                  cubic-bezier(0, 0.5, 0.25, 1);

// Bootstrap Overrides
$spacer: 30px;
$spacers: (
    5: 5px,
    10: 10px,
    15: 15px,
    20: 20px,
    25: 25px,
    30: 30px,
    35: 35px,
    40: 40px,
    45: 45px,
    50: 50px,
    60: 60px,
    70: 70px,
    75: 75px,
    80: 80px,
    90: 90px,
    100: 100px,
    110: 110px,
    120: 120px
);

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1440px
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1290px
);
